カートの中身一覧

<table border="1">
	
</style>
	<thead>
		<tr>
			<th>商品名</th>
			<th>個数</th>
			<th>価格</th>
		</tr>
	</thead>
	<tbody>
<% @carts.each do |items| %>
		<tr>
			<td></td>
			<td><%= items.count %></td>
			<td></td>
			<td><%= link_to "削除", users_cart_path(items), method: :delete %></td>
		</tr>
	</tbody>
<% end -%>
</table>

小計<br>

<%= link_to "レジに進む",  users_carts_buy_path %>