商品一覧



<table class="item-index">
	<tr>
		<td>商品名</td>
		<td>掲載ページ</td>
		<td>編集</td>
	</tr>
	<% Item.all.each do |f| %>
	<tr>
		<td><%= f.name %></td>
		<td><%= link_to "詳細", item_path(f) %></td>
		<td><%= link_to "編集", edit_admins_item_path(f) %></td>
	</tr>
	<% end %>
</table>


