// Place all the styles related to the items controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.show-image{
	text-align: center;
}
.show-image img{
	width: 90%;
}
.show-info{
}
.show-info table{
	width: 100%;
}
.show-info table tr td{
	padding: 10px;
}
.show-add-btn{
	width: 150px;
	text-align: center;
	padding: 10px;
	border: 1px solid black;
}
.show-table{
	width: 100%;
}
.show-table tr td{
	padding: 10px;
}

.genre-list li{
	padding: 10px 0;
}


.top{
	height: 750px;
	width: 100%;
	position: relative;
}

.top-text{
	font-family: 'Jura', sans-serif;
	position: absolute;

	top: 220px;
	left: 50%;
	font-size: 45px;
	transform: translate(-50%,0);
	color: #CCCCCC;
}


.top-video{
	height: 850px;
	position: fixed;
	z-index: -2;
}


.main{
	background-color: #ffffff;
	width: 100%;
	padding: 120px 60px;
}

#top-text-el{
	background-color: rgba(25,90,255,0.2);
}



.test{
	width: 100%;
	height: 2000px;
	background-color: white;
	padding: 100px;
}

.top-btn{
	width: 600px;
	height: 100px;
	margin: 0 auto;
	padding-top: 400px;
}
.top-btn div{
	background-color: rgba(255,255,255,0.3);
	border: 5px solid rgba(255,255,255,0.3);
	height: 100px;
	width: 250px;
	font-size: 30px;
	text-align: center;
	line-height: 90px;
}

.top-btn-in{
	float: left;
}
.top-btn-up{
	float: right;
}

